@use 'sass:math';
@import '../../theme/imports';

$lb-input-border-radius: $lb-border-radius !default;
$lb-input-focus-shadow-size: $lb-focus-shadow-size !default;
$lb-input-text-color: $lb-text-color !default;
$lb-input-text-color--disabled: color('gray', 5) !default;
$lb-input-placeholder-color: color('gray', 9) !default;
$lb-input-placeholder-color--focus: color('gray', 10) !default;
$lb-input-placeholder-color--disabled: color('gray', 3) !default;
$lb-input-border-color: $lb-border-color !default;
$lb-input-background-color--disabled: color('gray', 1) !default;

$lb-input-padding-x: $lb-spacing * 0.75 !default;
$lb-input-padding-y: $lb-spacing * 0.4375 !default;
$lb-input-font-size: $lb-text-md !default;
$lb-input-line-height: $lb-line-height !default;

$lb-input-padding-x-sm: $lb-spacing * 0.5 !default;
$lb-input-padding-y-sm: $lb-spacing * 0.28125 !default;
$lb-input-font-size-sm: $lb-text-sm !default;
$lb-input-line-height-sm: $lb-line-height-sm !default;

$lb-input-padding-x-lg: $lb-spacing !default;
$lb-input-padding-y-lg: $lb-spacing * 0.59375 !default;
$lb-input-font-size-lg: $lb-text-lg !default;
$lb-input-line-height-lg: $lb-line-height-lg !default;

@mixin input-color($color, $theme: $lb-default-theme) {
  border-color: color($color, 8, $theme);

  &:focus {
    border-color: color($color, 6, $theme);
  }

  &:not(:disabled):active {
    border-color: color($color, 8, $theme);
  }

  &:focus {
    box-shadow: 0 0 0 $lb-input-focus-shadow-size color($color, 'T25', $theme);
  }

  &:disabled {
    border-color: color($color, 3, $theme);
    color: color($color, 4, $theme);
  }
}

.#{c('LInput')} {
  margin-bottom: $lb-spacing;
  display: inline-flex;
  flex-direction: column;

  &.#{c('LInput')}-append {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .#{c('LInput')}-append-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: 1px solid $lb-input-border-color;
        padding: 0 $lb-spacing-md;
        border-left: none;
        border-top-right-radius: $lb-input-border-radius;
        border-bottom-right-radius: $lb-input-border-radius;
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:not(:last-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-prepend {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .#{c('LInput')}-prepend-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: 1px solid $lb-input-border-color;
        padding: 0 $lb-spacing-md;
        border-right: none;
        border-top-left-radius: $lb-input-border-radius;
        border-bottom-left-radius: $lb-input-border-radius;
      }
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:not(:first-of-type) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-block {
    width: 100%;
    display: flex;
  }

  input {
    background-color: transparent;
    flex: 1;
    transition: border-color $lb-animation-time ease-in-out,
      box-shadow $lb-animation-time ease-in-out;
    position: relative;
    padding: $lb-input-padding-y $lb-input-padding-x;
    border-style: solid;
    border-width: $lb-border-width;
    display: inline-flex;
    line-height: $lb-input-line-height;
    border-radius: $lb-input-border-radius;
    border-color: $lb-input-border-color;
    outline: none;
    font-size: $lb-input-font-size;
    color: inherit;
    font-family: inherit;
    font-size: inherit;

    @include input-color('primary');
    border-color: $lb-input-border-color;

    &:focus {
      &::placeholder {
        color: $lb-input-placeholder-color--focus;
      }
    }

    &::placeholder {
      color: $lb-input-placeholder-color;
    }

    &:disabled {
      color: $lb-input-text-color--disabled;
      background-color: $lb-input-background-color--disabled;
      border-color: $lb-input-border-color;
      &::placeholder {
        color: $lb-input-placeholder-color--disabled;
      }
    }

    &:focus {
      z-index: 3;
    }
  }

  &.form-feedback-error input {
    @include input-color('error');
  }

  &.form-feedback-success input {
    @include input-color('success');
  }

  .#{c('LInput')}-inner {
    display: flex;

    .#{c('LInput')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &.#{c('LInput')}-sm {
    font-size: $lb-input-font-size-sm;

    input {
      padding: $lb-input-padding-y-sm $lb-input-padding-x-sm;
      line-height: $lb-input-line-height-sm;
    }
  }

  &.#{c('LInput')}-lg {
    font-size: $lb-input-font-size-lg;

    input {
      padding: $lb-input-padding-y-lg $lb-input-padding-x-lg;
      line-height: $lb-input-line-height-lg;
    }
  }
}
