@use 'sass:math';
@import '../../theme/imports';

@mixin highlight($color) {
  input {
    border-color: color($color, 8);
    &:disabled {
      border-color: color($color, 3);
    }
  }
}

@mixin color($color) {
  &.#{c('LInput')}-highlight {
    @include highlight($color);
  }

  input {
    &:focus {
      border-color: color($color, 6);
    }

    &:not(:disabled):active {
      border-color: color($color, 8);
    }

    &:focus {
      box-shadow: 0 0 0 v(focus-shadow-size) color($color, 'T20');
    }

    &:disabled {
      border-color: v(border-color--disabled, c('LInput'));
      color: v(text-color--disabled, c('LInput'));
    }
  }
}

.#{c('LInput')} {
  margin-bottom: v(spacing);
  display: inline-flex;
  flex-direction: column;

  &.#{c('LInput')}-append {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .#{c('LInput')}-append-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: v(border-width, c('LInput')) solid v(border-color, c('LInput'));
        padding: 0 v(spacing-md);
        border-left: none;
        border-top-right-radius: v(border-radius, c('LInput'));
        border-bottom-right-radius: v(border-radius, c('LInput'));
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:not(:last-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-prepend {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .#{c('LInput')}-prepend-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: v(border-width, c('LInput')) solid v(border-color, c('LInput'));
        padding: 0 v(spacing-md);
        border-right: none;
        border-top-left-radius: v(border-radius, c('LInput'));
        border-bottom-left-radius: v(border-radius, c('LInput'));
      }
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:not(:first-of-type) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LInput')}-inner {
    display: flex;

    .#{c('LInput')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  input {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex: 1;
    outline: none;
    background-color: v(background-color, c('LInput'));
    transition: border-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);
    padding: v(padding-y, c('LInput')) v(padding-x, c('LInput'));
    border-style: solid;
    border-width: v(border-width, c('LInput'));
    line-height: v(line-height, c('LInput'));
    border-radius: v(border-radius, c('LInput'));
    border-color: v(border-color, c('LInput'));
    font-size: v(font-size, c('LInput'));
    color: v(text-color, c('LInput'));

    &::placeholder {
      color: v(placeholder-color, c('LInput'));
    }

    &:focus {
      background-color: v(background-color--focus, c('LInput'));
      &::placeholder {
        color: v(placeholder-color--focus, c('LInput'));
      }
    }

    &:disabled {
      color: v(text-color--disabled, c('LInput'));
      background-color: v(background-color--disabled, c('LInput'));
      border-color: v(border-color--disabled, c('LInput'));
      &::placeholder {
        color: v(placeholder-color--disabled, c('LInput'));
      }
    }

    &:focus {
      z-index: 3;
    }

    &[type='color'],
    &[type='range'] {
      margin: 0;
      height: calc(
        v(font-size, c('LInput')) * v(line-height, c('LInput')) +
          v(font-size, c('LInput'))
      );
    }
  }

  @mixin variants($variant) {
    &.#{c(LInput)}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.#{p('form-feedback-error')} {
    @include color('error');

    &.#{c('LInput')}-highlight {
      @include highlight('error');
    }
  }

  &.#{p('form-feedback-success')} {
    @include color('success');

    &.#{c('LInput')}-highlight {
      @include highlight('success');
    }
  }

  &.#{c('LInput')}-sm {
    font-size: v(font-size-sm, c('LInput'));

    input {
      padding: v(padding-y-sm, c('LInput')) v(padding-x-sm, c('LInput'));
      line-height: v(line-height-sm, c('LInput'));

      &[type='color'] {
        height: calc(
          v(font-size-sm, c('LInput')) * v(line-height-sm, c('LInput')) +
            v(font-size-sm, c('LInput'))
        );
      }
    }
  }

  &.#{c('LInput')}-lg {
    font-size: v(font-size-lg, c('LInput'));

    input {
      padding: v(padding-y-lg, c('LInput')) v(padding-x-lg, c('LInput'));
      line-height: v(line-height-lg, c('LInput'));

      &[type='color'] {
        height: calc(
          v(font-size-lg, c('LInput')) * v(line-height-lg, c('LInput')) +
            v(font-size-lg, c('LInput'))
        );
      }
    }
  }
}
