@use 'sass:math';
@import '../../theme/imports';

@mixin highlight($color) {
  input {
    border-color: color($color, 8);
    &:disabled {
      border-color: color($color, 3);
    }
  }
}

@mixin color($color) {
  &.#{c('LInput')}-highlight {
    @include highlight($color);
  }

  input {
    &:focus {
      border-color: color($color, 6);
    }

    &:not(:disabled):active {
      border-color: color($color, 8);
    }

    &:focus {
      box-shadow: 0 0 0 v(focus-shadow-size) color($color, 'T20');
    }

    &:disabled {
      border-color: v(input-border-color--disabled);
      color: v(input-text-color--disabled);
    }
  }
}

.#{c('LInput')} {
  margin-bottom: v(spacing);
  display: inline-flex;
  flex-direction: column;

  &.#{c('LInput')}-append {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .#{c('LInput')}-append-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: v(input-border-width) solid v(input-border-color);
        padding: 0 v(spacing-md);
        border-left: none;
        border-top-right-radius: v(input-border-radius);
        border-bottom-right-radius: v(input-border-radius);
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:not(:last-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-prepend {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .#{c('LInput')}-prepend-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: v(input-border-width) solid v(input-border-color);
        padding: 0 v(spacing-md);
        border-right: none;
        border-top-left-radius: v(input-border-radius);
        border-bottom-left-radius: v(input-border-radius);
      }
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:not(:first-of-type) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LInput')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LInput')}-inner {
    display: flex;

    .#{c('LInput')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  input {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex: 1;
    outline: none;
    background-color: v(input-background-color);
    transition: border-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);
    padding: v(input-padding-y) v(input-padding-x);
    border-style: solid;
    border-width: v(input-border-width);
    line-height: v(input-line-height);
    border-radius: v(input-border-radius);
    border-color: v(input-border-color);
    font-size: v(input-font-size);
    color: v(input-text-color);

    &:focus {
      background-color: v(input-background-color--focus);
      &::placeholder {
        color: v(input-placeholder-color--focus);
      }
    }

    &::placeholder {
      color: v(input-placeholder-color);
    }

    &:disabled {
      color: v(input-text-color--disabled);
      background-color: v(input-background-color--disabled);
      border-color: v(input-border-color--disabled);
      &::placeholder {
        color: v(input-placeholder-color--disabled);
      }
    }

    &:focus {
      z-index: 3;
    }

    &[type='color'],
    &[type='range'] {
      margin: 0;
      height: calc(
        v(input-font-size) * v(input-line-height) + v(input-font-size)
      );
    }
  }

  @mixin variants($variant) {
    &.#{c(LInput)}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.form-feedback-error {
    @include color('error');

    &.#{c('LInput')}-highlight {
      @include highlight('error');
    }
  }

  &.form-feedback-success {
    @include color('success');

    &.#{c('LInput')}-highlight {
      @include highlight('success');
    }
  }

  &.#{c('LInput')}-sm {
    font-size: v(input-font-size-sm);

    input {
      padding: v(input-padding-y-sm) v(input-padding-x-sm);
      line-height: v(input-line-height-sm);

      &[type='color'] {
        height: calc(
          v(input-font-size-sm) * v(input-line-height-sm) +
            v(input-font-size-sm)
        );
      }
    }
  }

  &.#{c('LInput')}-lg {
    font-size: v(input-font-size-lg);

    input {
      padding: v(input-padding-y-lg) v(input-padding-x-lg);
      line-height: v(input-line-height-lg);

      &[type='color'] {
        height: calc(
          v(input-font-size-lg) * v(input-line-height-lg) +
            v(input-font-size-lg)
        );
      }
    }
  }
}
