@use 'sass:math';
@import '../../theme/imports';

@mixin highlight($color) {
  textarea {
    border-color: color($color, 8);
    &:disabled {
      border-color: color($color, 3);
    }
  }
}

@mixin color($color) {
  &.#{c('LTextarea')}-highlight {
    @include highlight($color);
  }

  textarea {
    &:focus {
      border-color: color($color, 6);
    }

    &:not(:disabled):active {
      border-color: color($color, 8);
    }

    &:focus {
      box-shadow: 0 0 0 v(focus-shadow-size) color($color, 'T20');
    }

    &:disabled {
      border-color: v(border-color--disabled, c('LTextarea'));
      color: v(text-color--disabled, c('LTextarea'));
    }
  }
}

.#{c('LTextarea')} {
  margin-bottom: v(spacing);
  display: inline-flex;
  flex-direction: column;

  &.#{c('LTextarea')}-block {
    width: 100%;
    display: flex;
  }

  textarea {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex: 1;
    outline: none;
    background-color: v(background-color, c('LTextarea'));
    transition: border-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);
    padding: v(padding-y, c('LTextarea')) v(padding-x, c('LTextarea'));
    border-style: solid;
    border-width: v(border-width, c('LTextarea'));
    line-height: v(line-height, c('LTextarea'));
    border-radius: v(border-radius, c('LTextarea'));
    border-color: v(border-color, c('LTextarea'));
    font-size: v(font-size, c('LTextarea'));
    color: v(text-color, c('LTextarea'));

    font-family: inherit;

    &:focus {
      background-color: v(background-color--focus, c('LTextarea'));
      &::placeholder {
        color: v(placeholder-color--focus, c('LTextarea'));
      }
    }

    &::placeholder {
      color: v(placeholder-color, c('LTextarea'));
    }

    &:disabled {
      color: v(text-color--disabled, c('LTextarea'));
      background-color: v(background-color--disabled, c('LTextarea'));
      border-color: v(border-color--disabled, c('LTextarea'));
      &::placeholder {
        color: v(placeholder-color--disabled, c('LTextarea'));
      }
    }

    &:focus {
      z-index: 3;
    }
  }

  @mixin variants($variant) {
    &.#{c('LTextarea')}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.form-feedback-error {
    @include color('error');

    &.#{c(LInput)}-highlight {
      @include highlight('error');
    }
  }

  &.form-feedback-success {
    @include color('success');

    &.#{c(LInput)}-highlight {
      @include highlight('success');
    }
  }

  .#{c('LInput')}-inner {
    display: flex;

    .#{c('LInput')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &.#{c('LTextarea')}-sm {
    font-size: v(font-size-sm, c('LTextarea'));

    textarea {
      padding: v(padding-y-sm, c('LTextarea')) v(padding-x-sm, c('LTextarea'));
      line-height: v(line-height-sm, c('LTextarea'));
    }
  }

  &.#{c('LTextarea')}-lg {
    font-size: v(font-size-lg, c('LTextarea'));

    textarea {
      padding: v(padding-y-lg, c('LTextarea')) v(padding-x-lg, c('LTextarea'));
      line-height: v(line-height-lg, c('LTextarea'));
    }
  }
}
