@use 'sass:math';
@import '../../theme/imports';

@mixin highlight($color) {
  .#{c('LSwitch')}-box {
    border-color: color($color, 8);
  }
  input:disabled .#{c('LSwitch')}-box {
    border-color: color($color, 3);
  }
}

@mixin size($suffix, $size) {
  &.#{c('LSwitch')}-#{$suffix} {
    .#{c('LSwitch')}-inner .#{c('LSwitch')}-context {
      margin-left: calc($size * 2 + v(spacing-xs));
    }

    .#{c('LSwitch')}-box {
      width: calc($size * 2);
      height: $size;
      font-size: $size;
      padding: 2px;

      .#{c('LSwitch')}-inner-box {
        width: calc($size - v(switch-border-width) * 2 - 2px);
        height: calc($size - v(switch-border-width) * 2 - 2px);
        font-size: calc($size - 4px);
      }
    }

    input {
      width: calc($size * 2);
      height: $size;

      &:checked {
        + .#{c('LSwitch')}-box .#{c('LSwitch')}-inner-box {
          left: 100%;
          transform: translateX(-100%);
        }
      }

      &:active:not(:disabled) {
        + .#{c('LSwitch')}-box {
          .#{c('LSwitch')}-inner-box {
            width: calc($size * 1.25 - v(switch-border-width) * 2);
          }
        }
        &:checked {
          + .#{c('LSwitch')}-box {
            position: relative;
            .#{c('LSwitch')}-inner-box {
              left: 100%;
              transform: translateX(-100%);
            }
          }
        }
      }
    }
  }
}

@mixin color($color) {
  &.#{c('LSwitch')}-highlight {
    @include highlight($color);
  }

  input {
    + .#{c('LSwitch')}-box .#{c('LSwitch')}-inner-box {
      background-color: color($color, 8);
      color: v(contrast-color);
    }
    &:checked {
      + .#{c('LSwitch')}-box {
        background-color: color($color, 8);
        border-color: color($color, 9);

        .#{c('LSwitch')}-inner-box {
          background-color: v(contrast-color);
          border-color: color($color, 9);
          color: color($color, 8);
        }
      }
    }

    &:focus {
      + .#{c('LSwitch')}-box {
        border-color: color($color, 8);
        box-shadow: 0 0 0 v(switch-focus-shadow-size) color($color, 'T20');
      }
    }

    &:disabled:checked {
      + .#{c('LSwitch')}-box {
        border-color: color($color, 5);
        background-color: color($color, 4);
        .#{c('LSwitch')}-inner-box {
          border-color: color($color, 10);
          color: color($color, 4);
        }
      }
    }

    &:disabled:not(:checked) {
      + .#{c('LSwitch')}-box {
        background-color: v(background-color--disabled);
        .#{c('LSwitch')}-inner-box {
          background-color: color($color, 4);
        }
      }
    }
  }
}

.#{c('LSwitch')} {
  display: inline-flex;
  position: relative;
  margin-bottom: v(spacing);
  align-items: center;

  &.#{c('LSwitch')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LSwitch')}-box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    border: v(switch-border-width) solid v(switch-border-color);
    background-color: v(switch-background-color);
    border-radius: v(switch-border-radius);
    box-shadow: 0 0 0 v(focus-shadow-size) transparent;
    transition: border-color v(transition-time) v(transition-type),
      background-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);

    .#{c('LSwitch')}-inner-box {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      pointer-events: none;
      transition: left v(transition-time) v(transition-type),
        transform v(transition-time) v(transition-type),
        background-color v(transition-time) v(transition-type),
        color v(transition-time) v(transition-type),
        width v(transition-time) v(transition-type),
        height v(transition-time) v(transition-type);
      border-radius: v(switch-border-radius);
      background-color: v(border-color);

      .#{c('LSwitch')}-icon {
        position: absolute;
        &:first-of-type {
          opacity: 0;
        }
      }
    }
  }

  .#{c('LSwitch')}-inner {
    > div:first-of-type {
      display: flex;
      align-items: center;

      .form-label {
        display: block;
        margin-bottom: 0;
        padding-left: v(spacing-xs);
      }
    }

    .#{c('LSwitch')}-context {
      .form-feedback {
        display: block;
      }

      .form-description {
        margin-top: v(spacing-xs);
        margin-bottom: 0;
        display: block;
      }
    }
  }

  input {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 1;

    &:checked {
      + .#{c('LSwitch')}-box .#{c('LSwitch')}-inner-box {
        .#{c('LSwitch')}-icon:first-of-type {
          opacity: 1;
        }
        .#{c('LSwitch')}-icon:last-of-type {
          opacity: 0;
        }
      }
    }
  }

  @mixin variants($variant) {
    &.#{c('LSwitch')}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.form-feedback-error {
    @include color('error');

    &.#{c('LSwitch')}-highlight {
      @include highlight('error');
    }
  }

  &.form-feedback-success {
    @include color('success');

    &.#{c('LSwitch')}-highlight {
      @include highlight('success');
    }
  }

  @include size('md', v(switch-size));
  @include size('sm', v(switch-size-sm));
  @include size('lg', v(switch-size-lg));
}
