@import '../../theme/imports';

.form-label {
  font-weight: 500;
  margin-bottom: $lb-spacing-xs;
  font-size: $lb-text-md;
  > label {
    display: block;
  }
}

.form-feedback,
.form-description,
.form-help {
  color: color('gray', 9);
  font-size: $lb-text-sm;
}

.form-help {
  margin-top: $lb-spacing-xs;
}

.form-description {
  margin-bottom: $lb-spacing-xs;
}

.form-control {
  line-height: $lb-line-height;
  > .form-feedback {
    margin-top: $lb-spacing-xs;
  }
}

.form-feedback {
  &.feedback-error {
    color: color('error', 9);
  }

  &.feedback-success {
    color: color('success', 9);
  }
}

.form-description {
  color: color('gray', 9);
  font-size: $lb-text-sm;
  margin-bottom: $lb-spacing-xs;
}

.form-feedback-error {
  .form-feedback-icon {
    fill: color('error', 8);
  }
}

.form-feedback-success {
  .form-feedback-icon {
    fill: color('success', 8);
  }
}

.input-md {
  .form-feedback-icon {
    width: 20px;
    height: 20px;
    justify-self: flex-end;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px;
  }
}
.form-feedback-icon {
  position: absolute;
  pointer-events: none;

  svg {
    height: 100%;
  }
}
