@use 'sass:math';
@import '../../theme/imports';

$select-base-gap-x: 5%;
$select-gap-x: calc(#{$select-base-gap-x} - 4px);
$select-gap-x_edge: calc(#{$select-base-gap-x} - 3px);
$select-gap-x_ie: calc(#{$select-base-gap-x} - 2px);

@mixin highlight($color) {
  select {
    border-color: color($color, 8);
    &:disabled {
      border-color: color($color, 3);
    }
  }
}

@mixin color($color) {
  &.#{c('LSelect')}-highlight {
    @include highlight($color);
  }

  select {
    &:focus {
      border-color: color($color, 6);
    }

    &:not(:disabled):active {
      border-color: color($color, 8);
    }

    &:focus {
      box-shadow: 0 0 0 v(focus-shadow-size) color($color, 'T20');
    }

    &:disabled {
      border-color: v(select-border-color--disabled);
      color: v(select-text-color--disabled);
    }
  }
}

.#{c('LSelect')} {
  margin-bottom: v(spacing);
  display: inline-flex;
  flex-direction: column;

  &.#{c('LSelect')}-append {
    select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .#{c('LSelect')}-append-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: v(border-width) solid v(select-border-color);
        padding: 0 v(spacing);
        border-left: none;
        border-top-right-radius: v(select-border-radius);
        border-bottom-right-radius: v(select-border-radius);
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:not(:last-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LSelect')}-prepend {
    select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .#{c('LSelect')}-inner-prepend {
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LSelect')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LSelect')}-icon {
    position: absolute;
    z-index: 5;
    right: v(select-padding-x);
    color: color('gray', 5);
    pointer-events: none;
  }

  select {
    position: relative;
    width: 100%;
    display: inline-flex;
    flex: 1;
    outline: none;
    appearance: none;
    background-color: v(select-background-color);
    transition: border-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);
    padding: v(select-padding-y) v(select-padding-x);
    border-style: solid;
    border-width: v(select-border-width);
    line-height: v(select-line-height);
    border-radius: v(select-border-radius);
    border-color: v(select-border-color);
    font-size: v(select-font-size);
    color: v(select-text-color);

    font-family: inherit;

    padding-right: calc(v(select-padding-x) * 1.5 + v(select-font-size));

    @-moz-document url-prefix() {
      padding-left: calc(v(select-padding-x) - 0.25rem);
    }

    &:disabled {
      color: v(select-text-color--disabled);
      background-color: v(select-background-color--disabled);
      border-color: v(select-border-color--disabled);
      + .#{c('LSelect')}-icon {
        color: v(select-placeholder-color--disabled);
      }
    }

    &:focus {
      z-index: 3;
    }
  }

  @mixin variants($variant) {
    &.#{c('LSelect')}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.form-feedback-error {
    @include color('error');
    &.#{c('LSelect')}-highlight {
      @include highlight('error');
    }
  }

  &.form-feedback-success {
    @include color('success');
    &.#{c('LSelect')}-highlight {
      @include highlight('success');
    }
  }

  .#{c('LSelect')}-inner {
    display: flex;

    .#{c('LSelect')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &.#{c('LSelect')}-sm {
    font-size: v(select-font-size-sm);

    select {
      padding: v(select-padding-y-sm) v(select-padding-x-sm);
      padding-right: calc(
        v(select-padding-x-sm) * 1.5 + v(select-font-size-sm)
      );
      line-height: v(select-line-height-sm);

      @-moz-document url-prefix() {
        padding-left: calc(v(select-padding-x-sm) - 0.25rem);
      }
    }

    .#{c('LSelect')}-icon {
      right: v(select-padding-x-sm);
    }
  }

  &.#{c('LSelect')}-lg {
    font-size: v(select-font-size-lg);

    select {
      padding: v(select-padding-y-lg) v(select-padding-x-lg);
      padding-right: calc(
        v(select-padding-x-lg) * 1.5 + v(select-font-size-lg)
      );
      line-height: v(select-line-height-lg);

      @-moz-document url-prefix() {
        padding-left: calc(v(select-padding-x-lg) - 0.25rem);
      }
    }

    .#{c('LSelect')}-icon {
      right: v(select-padding-x-lg);
    }
  }
}
