@use 'sass:math';
@import '../../theme/imports';

$lb-select-border-radius: $lb-border-radius !default;
$lb-select-focus-shadow-size: $lb-focus-shadow-size !default;
$lb-select-text-color: $lb-text-color !default;
$lb-select-text-color--disabled: color('gray', 5) !default;
$lb-select-border-color: $lb-border-color !default;
$lb-select-background-color--disabled: color('gray', 1) !default;

$lb-select-padding-x: $lb-spacing * 0.75 !default;
$lb-select-padding-y: $lb-spacing * 0.4375 !default;
$lb-select-font-size: $lb-text-md !default;
$lb-select-line-height: $lb-line-height !default;

$lb-select-padding-x-sm: $lb-spacing * 0.5 !default;
$lb-select-padding-y-sm: $lb-spacing * 0.28125 !default;
$lb-select-font-size-sm: $lb-text-sm !default;
$lb-select-line-height-sm: $lb-line-height-sm !default;

$lb-select-padding-x-lg: $lb-spacing !default;
$lb-select-padding-y-lg: $lb-spacing * 0.59375 !default;
$lb-select-font-size-lg: $lb-text-lg !default;
$lb-select-line-height-lg: $lb-line-height-lg !default;

$select-base-gap-x: 5%;
$select-gap-x: calc(#{$select-base-gap-x} - 4px);
$select-gap-x_edge: calc(#{$select-base-gap-x} - 3px);
$select-gap-x_ie: calc(#{$select-base-gap-x} - 2px);

@mixin select-color($color, $theme: $lb-default-theme) {
  border-color: color($color, 8, $theme);

  &:focus {
    border-color: color($color, 6, $theme);
    box-shadow: 0 0 0 $lb-input-focus-shadow-size color($color, 'T25', $theme);
  }

  &:not(:disabled):active {
    border-color: color($color, 8, $theme);
  }

  &:disabled {
    border-color: color($color, 3, $theme);
    color: color($color, 4, $theme);
  }
}

.#{c('LSelect')} {
  margin-bottom: $lb-spacing;
  display: inline-flex;
  flex-direction: column;

  &.#{c('LSelect')}-append {
    select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .#{c('LSelect')}-append-inner {
      display: flex;
      > span {
        display: flex;
        align-items: center;
        border: 1px solid $lb-input-border-color;
        padding: 0 $lb-spacing-md;
        border-left: none;
        border-top-right-radius: $lb-input-border-radius;
        border-bottom-right-radius: $lb-input-border-radius;
      }
      button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &:not(:last-of-type) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LSelect')}-prepend {
    select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .#{c('LSelect')}-inner-prepend {
      button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
          z-index: 1;
        }
      }
    }
  }

  &.#{c('LSelect')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LSelect')}-icon {
    position: absolute;
    right: $lb-select-padding-x;
    color: color('gray', 5);
    pointer-events: none;
  }

  select {
    width: 100%;
    appearance: none;
    background-color: transparent;
    flex: 1;
    transition: border-color $lb-animation-time ease-in-out,
      box-shadow $lb-animation-time ease-in-out;
    position: relative;
    padding: $lb-select-padding-y $lb-select-padding-x;
    border-style: solid;
    border-width: $lb-border-width;
    display: inline-flex;
    line-height: $lb-input-line-height;
    border-radius: $lb-input-border-radius;
    border-color: $lb-input-border-color;
    outline: none;
    font-size: $lb-input-font-size;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding-right: $lb-select-padding-x * 1.5 + $lb-select-font-size;

    @-moz-document url-prefix() {
      padding-left: calc($lb-select-padding-x - 0.25rem);
    }

    @include select-color('primary');
    border-color: $lb-select-border-color;

    &:disabled {
      color: $lb-select-text-color--disabled;
      background-color: $lb-select-background-color--disabled;
      border-color: $lb-select-border-color;
      + .#{c('LSelect')}-icon {
        color: $lb-select-border-color;
      }
    }

    &:focus {
      z-index: 3;
    }
  }

  &.form-feedback-error select {
    @include select-color('error');
  }

  &.form-feedback-success select {
    @include select-color('success');
  }

  .#{c('LSelect')}-inner {
    display: flex;

    .#{c('LSelect')}-element {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  &.#{c('LSelect')}-sm {
    font-size: $lb-select-font-size-sm;

    select {
      padding: $lb-select-padding-y-sm $lb-select-padding-x-sm;
      padding-right: $lb-select-padding-x-sm * 1.5 + $lb-select-font-size-sm;
      line-height: $lb-select-line-height-sm;

      @-moz-document url-prefix() {
        padding-left: calc($lb-select-padding-x-sm - 0.25rem);
      }
    }

    .#{c('LSelect')}-icon {
      right: $lb-select-padding-x-sm;
    }
  }

  &.#{c('LSelect')}-lg {
    font-size: $lb-select-font-size-lg;

    select {
      padding: $lb-select-padding-y-lg $lb-select-padding-x-lg;
      padding-right: $lb-select-padding-x-lg * 1.5 + $lb-select-font-size-lg;
      line-height: $lb-select-line-height-lg;

      @-moz-document url-prefix() {
        padding-left: calc($lb-select-padding-x-lg - 0.25rem);
      }
    }

    .#{c('LSelect')}-icon {
      font-size: inherit;
      right: $lb-select-padding-x-lg;
    }
  }
}
