@import 'imports';

* {
  box-sizing: border-box;
}

body {
  color: v(text-color);
}

#lx {
  position: relative;
  height: 0;
  z-index: v(z-index-base);
  #lx-md {
    width: 0;
    height: 0;
    z-index: v(z-index-modal);
  }
  #lx-tt {
    width: 0;
    height: 0;
    z-index: v(z-index-tooltip);
  }
  #lx-to {
    width: 0;
    height: 0;
    z-index: v(z-index-toast);
  }
}
