@import 'variables';

* {
  box-sizing: border-box;
}

#lx {
  position: relative;
  z-index: $lb-z-index-base;
  #lx-md {
    position: relative;
    z-index: $lb-z-index-modal;
  }
  #lx-tt {
    position: relative;
    z-index: $lb-z-index-toast;
  }
  #lx-to {
    position: relative;
    z-index: $lb-z-index-tooltip;
  }
}
