@import 'variables';

* {
  box-sizing: border-box;
}

#lx {
  position: relative;
  height: 0;
  z-index: $lb-z-index-base;
  #lx-md {
    width: 0;
    height: 0;
  }
  #lx-tt {
    width: 0;
    height: 0;
  }
  #lx-to {
    width: 0;
    height: 0;
  }
}
