$lx-class-prefix: '' !default;
$lx-screen-reader-class: '#{$lx-class-prefix}sr' !default;

$lx-components: (
  'LButton': 'button',
  'LCheckbox': 'checkbox',
  'LIcon': 'icon',
  'LInput': 'input',
  'LLoading': 'loading',
  'LModal': 'modal',
  'LRadio': 'radio',
  'LSelect': 'select',
  'LSwitch': 'switch',
  'LTextarea': 'textarea',
  'LToast': 'toast',
  'LTooltip': 'tooltip',
) !default;

$lx-palettes: ('primary', 'secondary', 'error', 'success') !default;
