/* Imports everything of Labox. */
@import 'labox-base';
@import 'animations';

@import '../common/shared-components/form-control/form-control';
@import '../components/loading/loading';
@import '../components/button/button';
@import '../components/checkbox/checkbox';
@import '../components/icon/icon';
@import '../components/input/input';
@import '../components/radio/radio';
@import '../components/modal/modal';
@import '../components/select/select';
@import '../components/textarea/textarea';
@import '../components/toast/toast';
@import '../components/tooltip/tooltip';
@import '../components/switch/switch';
