@use 'sass:math';
@import '../../theme/imports';

@mixin size($suffix, $size) {
  &.#{c('LModal')}-#{$suffix} .#{c('LModal')}-inner {
    max-width: $size;
  }
}

#lx-md[data-lx-active='true'] {
  .#{c('LModal')}-backdrop {
    pointer-events: all;
    opacity: 0.66;
  }
}

.#{c('LModal')}-backdrop {
  z-index: calc(v(z-index-modal) - 1);
  pointer-events: none;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  transition: all v(transition-time) ease;
}

.#{c('LModal')} {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: v(z-index-modal);
  pointer-events: none;

  &.#{c('LModal')}-visible {
    .#{c('LModal')}-inner {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .#{c('LModal')}-inner {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1.75rem auto;
    min-height: calc(100% - (1.75rem * 2));
    opacity: 0;
    transition: all v(transition-time) ease;
    transform: translateY(-10px);
    padding: 0 v(spacing-sm);
    pointer-events: none;

    .#{c('LModal')}-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: v(border-radius, c('LModal'));
      background-color: v(background-color);
      border: v(border-width) solid v(border-color);
      max-height: 80vh;
      pointer-events: all;

      .#{c('LModal')}-header {
        display: flex;
        padding: 1rem;
        border-bottom: v(border-width) solid v(border-color);

        :first-child {
          flex: 1;
        }

        .#{c('LModal')}-title {
          color: inherit;
          font-size: 24px;
          margin: 0;
        }

        .#{c('LModal')}-description {
          color: color('gray', 8);
          font-size: 14px;
          margin-top: v(spacing-xs);
          display: block;
          line-height: 1.5;
        }

        .#{c('LModal')}-close {
          $lx-close-button-size: 30px;
          width: $lx-close-button-size;
          height: $lx-close-button-size;
          border: none;
          padding: 4px 8px;
          background-color: transparent;
          margin: 0;
          display: flex;
          align-items: center;
          line-height: 1;
          flex-shrink: 0;
          box-shadow: none;
          cursor: pointer;
          border-radius: v(border-radius, c('LModal'));
          outline: none;
          border: none;
          transition: background-color v(transition-time) v(transition-type),
            box-shadow v(transition-time) v(transition-type);

          svg {
            fill: color('gray', 8);
          }

          &:hover {
            background-color: v(background-color--hover);
            svg {
              fill: color('gray', 15);
            }
          }

          &:focus {
            box-shadow: 0 0 0 v(focus-shadow-size) color('primary', 'T20');
            background-color: v(background-color--focus);
          }
        }
      }

      .#{c('LModal')}-body {
        overflow-y: auto;
        max-height: calc(100vh - 108px - 3.5rem);
        flex: 1;
        padding: 1rem;
        &.#{c('LModal')}-body-raw {
          padding: 0;
        }
      }

      .#{c('LModal')}-footer {
        border-bottom-left-radius: v(border-radius, c('LModal'));
        border-bottom-right-radius: v(border-radius, c('LModal'));
        border-top: v(border-width) solid v(border-color);
        padding: 1rem;
        display: flex;
        align-items: center;
        background-color: color('gray', 1);
        .#{c('LModal')}-footer-fill {
          flex: 1;
        }

        button + button {
          margin-left: v(spacing-xs);
        }
      }
    }
  }

  @include size('md', v(size, c('LModal')));
  @include size('sm', v(size-sm, c('LModal')));
  @include size('lg', v(size-lg, c('LModal')));

  &.lx-shake > div:not(.#{c('LModal')}-backdrop) {
    animation: lx-shake 0.5s ease;
  }
}

@keyframes lx-shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
