@import '../../../theme/imports';

.#{p('form-control')} {
  line-height: v(line-height);
}

.#{p('form-label')} {
  font-weight: 500;
  margin-bottom: v(spacing-xs);
  font-size: v(text-md);
  > label {
    display: block;
  }
}

.#{p('form-description')},
.#{p('form-help')},
.#{p('form-feedback')} {
  display: block;
  font-size: v(text-sm);

  &.#{p('form-help')} {
    color: v(text-color--light);
  }

  &.#{p('form-feedback')} {
    &.#{p('feedback-error')} {
      color: color('error', 9);
    }

    &.#{p('feedback-success')} {
      color: color('success', 9);
    }
  }
}

.#{p('form-control')} {
  &:not(.#{p('form-field')}) {
    .#{p('form-description')} + .#{p('form-feedback')} {
      margin-top: calc(v(spacing-xs) / 2);
    }
  }

  &.#{p('form-field')} {
    .#{p('form-feedback')},
    .#{p('form-help')} {
      margin-top: calc(v(spacing-xs) / 2);
    }

    .#{p('form-description')},
    .#{p('form-feedback')} {
      margin-bottom: calc(v(spacing-xs) / 2);
    }
  }
}
