@use 'sass:math';
@import '../../theme/imports';

@mixin highlight($color) {
  .#{c('LCheckbox')}-box {
    border-color: color($color, 8);
  }
  input:disabled .#{c('LCheckbox')}-box {
    border-color: color($color, 3);
  }
}

@mixin size($suffix, $size) {
  &.#{c('LCheckbox')}-#{$suffix} {
    .#{c('LCheckbox')}-inner .#{c('LCheckbox')}-context {
      margin-left: calc($size + v(spacing-xs));
    }

    .#{c('LCheckbox')}-box {
      width: $size;
      height: $size;
      font-size: $size;
    }

    input {
      width: $size;
      height: $size;
    }
  }
}

@mixin color($color) {
  &.#{c('LCheckbox')}-highlight {
    @include highlight($color);
  }

  input {
    &:checked {
      + .#{c('LCheckbox')}-box {
        background-color: color($color, 8);
        border-color: color($color, 9);
        color: v(contrast-color);
      }
    }

    &:focus {
      + .#{c('LCheckbox')}-box {
        border-color: color($color, 8);
        box-shadow: 0 0 0 v(checkbox-focus-shadow-size) color($color, 'T20');
      }
    }

    &:disabled:checked {
      + .#{c('LCheckbox')}-box {
        border-color: color($color, 5);
        background-color: color($color, 4);
        color: v(contrast-color--disabled);
      }
    }

    &:disabled:not(:checked) {
      + .#{c('LCheckbox')}-box {
        background-color: v(background-color--disabled);
      }
    }
  }
}

.#{c('LCheckbox')} {
  display: inline-flex;
  position: relative;
  margin-bottom: v(spacing);
  align-items: center;

  &.#{c('LCheckbox')}-block {
    width: 100%;
    display: flex;
  }

  .#{c('LCheckbox')}-box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: v(checkbox-border-width) solid v(checkbox-border-color);
    background-color: v(background-color);
    border-radius: v(checkbox-border-radius);
    box-shadow: 0 0 0 v(focus-shadow-size) transparent;
    transition: border-color v(transition-time) v(transition-type),
      background-color v(transition-time) v(transition-type),
      box-shadow v(transition-time) v(transition-type);

    color: transparent;

    .#{c('LCheckbox')}-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color v(transition-time) v(transition-type);
    }
  }

  .#{c('LCheckbox')}-inner {
    > div:first-of-type {
      display: flex;
      align-items: center;

      .form-label {
        display: block;
        margin-bottom: 0;
        padding-left: v(spacing-xs);
      }
    }
  }

  input {
    position: absolute;
    margin: 0;
    opacity: 0;
    z-index: 1;
  }

  @mixin variants($variant) {
    &.#{c('LCheckbox')}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  &.form-feedback-error {
    @include color('error');

    &.#{c('LCheckbox')}-highlight {
      @include highlight('error');
    }
  }

  &.form-feedback-success {
    @include color('success');

    &.#{c('LCheckbox')}-highlight {
      @include highlight('success');
    }
  }

  @include size('md', v(checkbox-size));
  @include size('sm', v(checkbox-size-sm));
  @include size('lg', v(checkbox-size-lg));
}
