@use 'sass:math';
@import '../../theme/imports';

$lb-checkbox-border-radius: $lb-border-radius !default;
$lb-checkbox-focus-shadow-size: $lb-focus-shadow-size !default;
$lb-checkbox-text-color: $lb-text-color !default;
$lb-checkbox-border-color: $lb-border-color !default;
$lb-checkbox-border-color-disabled: $lb-border-color !default;
$lb-checkbox-border-width: $lb-border-width !default;

$lb-checkbox-size: 1.5rem !default;

$lb-checkbox-size-sm: 1.25rem !default;

$lb-checkbox-size-lg: 1.75rem !default;

@mixin checkbox-size($suffix, $size) {
  &.#{c('LCheckbox')}-#{$suffix} {
    .#{c('LCheckbox')}-inner .#{c('LCheckbox')}-descriptors {
      min-height: $size;
    }
    .#{c('LCheckbox')}-box {
      width: $size;
      height: $size;
      svg {
        width: $size - 0.5rem;
        height: $size - 0.5rem;
      }
    }
    input {
      width: $size;
      height: $size;
    }
  }
}

@mixin checkbox-color($color, $theme: $lb-default-theme) {
  input {
    &:checked {
      + .#{c('LCheckbox')}-box {
        background-color: color($color, 8, $theme);
        border-color: color($color, 8, $theme);
        svg {
          opacity: 1;
        }
      }
    }

    &:focus {
      + .#{c('LCheckbox')}-box {
        border-color: color($color, 8, $theme);
        box-shadow: 0 0 0 $lb-checkbox-focus-shadow-size
          color($color, 'T25', $theme);
      }
    }

    &:disabled:checked {
      + .#{c('LCheckbox')}-box {
        border-color: color($color, 6, $theme);
        background-color: color($color, 6, $theme);
      }
    }

    &:disabled:not(:checked) {
      + .#{c('LCheckbox')}-box {
        border-color: color($color, 3, $theme);
      }
    }
  }
}

.#{c('LCheckbox')} {
  display: inline-flex;
  position: relative;
  margin-bottom: 1rem;
  align-items: center;

  &.#{c('LCheckbox')}-block {
    width: 100%;
    display: flex;
  }

  @mixin checkbox-variants($variant, $theme: $lb-default-theme) {
    &.#{c(LCheckbox)}-#{$variant} {
      @include checkbox-color($variant, $theme);
    }
  }

  @each $name, $variant-map in lb-themes() {
    @if css-vars() {
      @include checkbox-variants($name);
    } @else {
      &.#{$lb-theme-prefix}#{$name} {
        @each $variant, $_ in $variant-map {
          @include checkbox-variants($variant, $name);
        }
      }
    }
  }

  .#{c('LCheckbox')}-box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $lb-checkbox-border-width solid $lb-checkbox-border-color;
    border-radius: $lb-checkbox-border-radius;
    box-shadow: 0 0 0 $lb-button-focus-shadow-size transparent;
    transition: border-color $lb-animation-time ease-in-out,
      background-color $lb-animation-time ease-in-out,
      box-shadow $lb-animation-time ease-in-out;

    svg {
      fill: $lb-body-color;
      opacity: 0;
      transition: opacity $lb-animation-time ease-in-out;
    }
  }

  .#{c('LCheckbox')}-inner {
    display: flex;
    .#{c('LCheckbox')}-descriptors {
      margin-left: $lb-spacing-xs * 2;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      .#{c('LCheckbox')}-label {
        margin-bottom: 0;
        display: block;
      }
      .#{c('LCheckbox')}-feedback {
        margin-top: $lb-spacing-xs;
        display: block;
      }
      .#{c('LCheckbox')}-description {
        margin-top: $lb-spacing-xs;
        margin-bottom: 0;
        display: block;
      }
    }
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 1;

    &:checked {
      svg {
        opacity: 1;
      }
    }
  }

  &.form-feedback-error {
    @include checkbox-color('error');

    .#{c('LCheckbox')}-box {
      border-color: color('error', 8);
    }
  }

  &.form-feedback-success {
    @include checkbox-color('success');

    .#{c('LCheckbox')}-box {
      border-color: color('success', 8);
    }
  }

  @include checkbox-size('md', $lb-checkbox-size);
  @include checkbox-size('sm', $lb-checkbox-size-sm);
  @include checkbox-size('lg', $lb-checkbox-size-lg);
}
