@use 'sass:math';
@import '../../theme/imports';

@mixin color($color) {
  .#{c('LTooltip')}-inner .#{c('LTooltip')}-content {
    background-color: color($color, 8);
    color: contrast-tone(color($color, 8));
  }

  .#{c('LTooltip')}-arrow::before {
    background-color: color($color, 8);
  }
}

.#{c('LTooltip')}-trigger {
  display: inline-flex;
}

.#{c('LTooltip')} {
  display: inline-flex;
  border-radius: v(tooltip-border-radius);
  color: v(tooltip-text-color);

  @mixin variants($variant) {
    &.#{c('LTooltip')}-#{$variant} {
      @include color($variant);
    }
  }

  @each $variant in $lx-palettes {
    @include variants($variant);
  }

  .#{c('LTooltip')}-inner {
    .#{c('LTooltip')}-content {
      border-radius: v(tooltip-border-radius);
      padding: v(tooltip-padding-y) v(tooltip-padding-x);
      font-size: v(tooltip-font-size);
      max-width: v(tooltip-max-width);
    }

    .#{c('LTooltip')}-arrow,
    .#{c('LTooltip')}-arrow::before {
      position: absolute;
      width: v(tooltip-arrow-size);
      height: v(tooltip-arrow-size);
    }

    .#{c('LTooltip')}-arrow::before {
      content: '';
      transform: rotate(45deg);
      top: 0;
      left: 0;
    }
  }
}

.lb-tooltip-animation-enter-active,
.lb-tooltip-animation-leave-active {
  transition: opacity 0.05s ease;
  .#{c('LTooltip')}-content {
    transition: transform 0.05s ease;
  }
}

.lb-tooltip-animation-enter-from,
.lb-tooltip-animation-leave-to {
  opacity: 0.5;
  .#{c('LTooltip')}-content {
    transform: scale(0.9);
  }
}

.#{c('LTooltip')}-inner[data-popper-placement^='top'] .#{c('LTooltip')}-arrow {
  bottom: -4px;
}

.#{c('LTooltip')}-inner[data-popper-placement^='bottom']
  .#{c('LTooltip')}-arrow {
  top: -4px;
}

.#{c('LTooltip')}-inner[data-popper-placement^='left'] .#{c('LTooltip')}-arrow {
  right: -4px;
}

.#{c('LTooltip')}-inner[data-popper-placement^='right']
  .#{c('LTooltip')}-arrow {
  left: -4px;
}
